<footer>
<nav class="navbar navbar-dark text-white">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      	<a href="#" class="navbar-brand" (click)="recipeBook('book')"><b>MyAngularApp.Com</b></a>
    </div>
    <div class="navbar-header">
      	<a href="#" class="navbar-brand" (click)="recipeBook('book')"><b>MyAngularApp.Com</b></a>
    </div>
    <div class="navbar-header">
      	<a href="#" class="navbar-brand" (click)="recipeBook('book')"><b>MyAngularApp.Com</b></a>
    </div>
    <div class="navbar-header">
      	<a href="#" class="navbar-brand" (click)="recipeBook('book')"><b>MyAngularApp.Com</b></a>
    </div> -->
    <p class="text-center"><b>MyAngularApp.Com</b></p>
  </div>
</nav>
</footer>