/* You can add global styles to this file, and also import other style files */
.Header{
	text-align: center;
}

.sample-txt{
	background-color: #e2b0b0e6;
	color: white;
	font-weight: bold;
	border: 2px solid black;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	padding: 10px;

}

.sample-form{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	text-align: center;
	padding: 20px;
}

.data-binding-txt{
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
}