<div class="jumbotron Header">
  
  <h1>AngularJs Learning</h1>
  <h4 class="data-binding-txt">Basic Data Binding Concept</h4>
  <div class="row">
    <div class="col-lg-6">
      <input type="text" class="form-control sample-form" [(ngModel)]="name" >
      <p class="sample-txt">{{name}}</p>
    </div>
    <div class="col-lg-6">
      <input type="text" class="form-control sample-form" [(ngModel)]="title" >
      <p class="sample-txt">{{title}}</p>
    </div>
  </div>
  <app-servers></app-servers>
  <app-server></app-server>
</div> 